thead {
  text-align: center;
}


tbody {
  td {
    padding: 5px 2px !important;

    input {
      margin: 0 auto;
      max-width: 50px;
      text-align: center;
      padding: 5px 2px !important;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
